.portfolio{
  display: block;
  background-color: rgb(1, 43, 77);
  padding-top: 30px;
  padding-bottom: 50px;
  padding: 5em;
  color: white;
}

.section-headling{
  padding-top: 2.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.container{
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  display: block;
}

.portfolio-item{
  display: flex;
  flex-wrap: wrap;
}

.portfolio-img{
  width: 100%;
  display: block;
  text-align: center;
  background: radial-gradient(#154a57 50%, #6da9ed);
  padding: 2rem;
  border-radius: .5rem;
  margin: 2rem;
}

.portfolio-img img{
  border-radius: .5rem;
  
    width: 80%;
    height: 80%;
    max-width: 100%;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(0, 120, 201, 0.7);
}

.portfolio-description{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  margin-left: .25rem;
  margin-right: .25rem;

  margin-top: .75rem;
  margin-bottom: .75rem;
}

.portfolio-description h3{
  text-transform: uppercase;
  font-size: 1.4rem!important;
  line-height: 1.75rem;
  font-weight: 700;
  color:#6da9ed;
}

.portfolio-description p{
  margin-top: .75rem;
  font-size: 1.1rem;
}

.portfolio-techologies{
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  padding-bottom: .5rem;
  padding-right: .5rem;
}

.portfolio-techologies span{

  padding-left: .5rem;
  padding-right: .5rem;

  padding-top: .25rem;
  padding-bottom: .25rem;

  margin-right: 1rem;
  margin-top: .25rem;
  margin-bottom: .25rem;


  font-size: .875rem;
  line-height: 1.25rem;

  border-width: 1px;
  border-radius: .5rem;
  border-color:#6da9edcb;
  /* border-color: rgba(209, 72, 72, 0.75); */
  border-width: 1px;
  border-style: solid;
}

.links{
  width: auto;
  position: relative;
  display: flex;
  padding-left: .25rem;
}

.links a{
  color:#6da9edcb;
  text-decoration: inherit;
  font-size: 1.5rem;
  margin-right: 1rem;
}

@media (min-width: 993px) {
  .portfolio-item{
    justify-content: space-between;
    align-items: center;
  }

  .portfolio-img{
    width: 50%;
  }

  .portfolio-description{
    width: 40%;
  }
}

@media (max-width: 992px) {
  .portfolio-item{
    justify-content: center;
    align-items: center;
  }
  .portfolio-img{
    width: 70%;
  }
  .portfolio-description{
    width: 70%;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .portfolio-description p{
    font-size: 1.2rem;
    margin-top: .75rem;
  }
  .portfolio-description h3{
    text-align: center;
  }
}

@media (max-width: 768px) {
  .portfolio-item{
    justify-content: space-between;
    align-items: center;
  }

  .portfolio-img{
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }
  .portfolio-img{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .portfolio-description{
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }
}
